%p
  Olá #{@resource.email}!
%p Alguém pediu para alterar a sua senha. Você pode entrar através do link abaixo:
%p= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Se vocÊ não fez este pedido, por favor ignore este email.
%p Sua senha não será alterada até que você acess o link acima e crie uma nova.
